/******************************************************************
STYLESHEET: TEXT

******************************************************************/

.headline {
    color: white;
    text-align: center;
    margin: 0 0 1.5em;
}


/******************************************************************
SPECIFIC
******************************************************************/

.text {
    font-family: $f-text;

    &--italic {
        font-style: italic;
    }

    &--light {
        font-weight: 300;
    }

    &--semibold {
        font-weight: 600;
    }

    &--bold {
        font-weight: 700;
    }
}