/******************************************************************
STYLESHEET: CONTENT

******************************************************************/

.content {
    width: 80%;
    margin: 0 auto;
    padding-top: 3em;

    @include medium {
        padding-top: 7em;
        min-height: 100vh;
    }
}